body * {
	box-sizing: border-box;		
}

body {
font-family: "Roboto", helvetica, sans-serif;
padding: 60px;
color: white;
}


html {
background-image: url(harry-potter.jpg);
background-repeat : no-repeat;
background-size : cover;
background-color: black;
}


h1, h2 {
	color:white;
	background-color: to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4)
	
}

h1 {
	font-size: 3em;
}

h2 {
    margin-top: 20px;
    font-size: 1.8em;
    text-shadow: 0 5px 5px black;
}

header {
text-shadow: 0 8px 8px black;
text-align: center;
}


button {
    display: block;
    height: 70px;
	  width: 120px;
    padding: 10px;
    border: 2px solid #fff;
    margin-top: 145px;
    background:white;
    color: black;
    font: inherit;
    font-size: 1.8em;
    font-weight: bold;
    margin-left:auto;
    margin-right: auto;
  }

  .buttonDisabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

button:hover {
	background-color:blue;
	cursor: pointer;
}

.hidden {
    display: none;
  }


#questionSet {
    text-align: center;
    text-shadow: 0 2px 2px black;
}

#questionSet fieldset {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border: none;
    
  }
  
  #questionSet legend {
    font-size: 1.8em;
    padding: 0;
    text-shadow: 0 3px 3px black;
  }
  
  #questionSet label {
    display: block;
    margin-top: .7rem;
    font-size: 1.2em;
  }
  
  #questionSet.question {
    margin-top: 1rem;
  }
  
  /* Place radios and their labels
  on the same line */
  #questionSet input[type="radio"],
  #questionSet input[type="radio"]+label {
    display: inline-block;   
    width: auto;
    margin-top: .35rem;
  
  }
  #quizOptions {
    display: inline-block;
    text-align: left;
  }
  
  
 #questionSet button {
    display: inline-block;
    height: 70px;
	  width: 150px;
    padding: 10px;
    border: 2px solid #fff;
    margin-top: 100px;
    background:white;
    color: black;
    font: inherit;
    font-size: 1.8em;
    font-weight: bold;

  }

  #questionCount, #scoreValue {
    display: inline-block;
    font-size: 1.6em;
    padding: 60px;
  }

  .correctMessage, .wrongMessage {
    text-align: center;
  }

  .correctMessage button, .wrongMessage button {
    margin-top : 1rem;
  }

  #finalResult {
    text-align: center;
  }

  #finalResult button {
    width: 250px;
  }

  #quizOptions input[type=radio]+label:hover  {
    background-color: black;
  }


@media only screen and (max-width: 380px) {
  body {
    padding: 10px;
    }
  
  html {
    background: url(harry-potter.jpg) center center fixed; 
    background-size : auto 100%;
  }

  h1 {
    font-size: 1.8em;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 1.2em;
  }

  button {
   height: 50px;
   width: 100px;
   margin-top: 40px;
   font-size: 1.5em;     
    }

  #questionSet legend {
   font-size: 1em;
    }
    
  #questionSet label {
   margin-top: .2rem;
   font-size: 0.8em;
    }
    
  #questionSet.question {
   margin-top: 0.5rem;
    }
   
  #questionSet input[type="radio"],
  #questionSet input[type="radio"]+label {
  margin-top: .1rem;

  }

#questionSet button {
  height: 40px;
  width: 110px;
  margin-top: 10px;
  font-size: 1em;

}

#questionCount, #scoreValue {
  font-size: 1em;
  padding: 25px;
}


.correctMessage button, .wrongMessage button {
  margin-top : 1rem;
}

#finalResult button {
  width: 200px;
  margin-top: 60px;
}
    
img {
   width:250px;
}

}

@media only screen and (max-width: 1030px) and (min-width: 385px) {
  
  html {
    background: url(harry-potter.jpg) center center fixed; 
    background-size : auto 100%;
  }

  h1 {
    font-size: 4em;
  }
  
  h2 {
    margin-top: 50px;
    font-size: 2.6em;
  }


button {
  height: 100px;
  width: 150px;
  margin-top: 200px;
  font-size: 2.5em;     
  }

#questionSet legend {
  font-size: 2.6em;
  }

#questionSet label {
margin-top: .2rem;
font-size: 2em;
}
         
#questionSet input[type="radio"],
#questionSet input[type="radio"]+label {
   margin-top: .5rem;
 
}

#questionCount, #scoreValue {
  font-size: 2em;
  padding: 50px;
}

#finalResult button {
  width: 300px;
}

}
  

  

  